<div class="bg-gradient-to-b from-green-200 to-green-300 min-h-screen flex justify-center items-center">
    <div class="flex flex-col items-center w-full">
        <div class="p-12 bg-white mx-auto rounded-2xl w-100">
            <h1 class="text-2x1 font-bold mt-4 mb-5 text-center">Book Reviews 101</h1>
            <ul>
                <% @reviews.each do |review| %>
                    <div class="mb-3 rounded-lg border-2 px-3 py-4 w-34 shadow-md bg-white>
                        <li>
                            <%= link_to review.title, review %>
                            <br>
                            <%= link_to review.review, review %>
                        </li>
                    </div>
                <% end %>
            </ul>
            <div class="mt-3 w-half flex justify-center bg-purple-600  hover:bg-purple-800 text-gray-100 p-3  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
            <%=link_to "Create New Book Review", new_review_path%>
            </div>
        </div>
    </div>
</div>